In [1]:
import pandas as pd
olympics= pd.read_excel("Olympic Athletes.xlsx")
olympics.head()

,Athlete,Age,Country,Year,Closing Ceremony Date,Sport,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,United States,2008,2008-08-24,Swimming,8,0,0,8
1,Michael Phelps,19.0,United States,2004,2004-08-29,Swimming,6,0,2,8
2,Michael Phelps,27.0,United States,2012,2012-08-12,Swimming,4,2,0,6
3,Natalie Coughlin,25.0,United States,2008,2008-08-24,Swimming,1,2,3,6
4,Aleksey Nemov,24.0,Russia,2000,2000-10-01,Gymnastics,2,1,3,6

In [3]:
olympics_country= olympics.groupby('Country')
olympics_country= olympics_country['Total Medals'].sum()
olympics_country= olympics_country.sort_values(ascending=False)
olympics_country.head()

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Name: Total Medals, dtype: int64

In [4]:
olympics_gold= olympics.groupby('Country')
olympics_gold= olympics_gold['Gold Medals'].sum().sort_values(ascending=False)
olympics_gold.head()

Country
United States    552
Russia           234
China            234
Germany          223
Canada           168
Name: Gold Medals, dtype: int64

In [6]:
x= input('enter sport:')
olympics_swimming= olympics[olympics['Sport']== x]

country_medals= olympics_swimming.groupby('Country')['Total Medals'].sum().sort_values(ascending=False)
country_medals.head()

enter sport:Swimming

Country
United States    267
Australia        163
Netherlands       46
Japan             43
France            39
Name: Total Medals, dtype: int64

In [7]:
olympics_athletes= olympics.groupby('Athlete')
olympics_athletes= olympics_athletes['Total Medals'].sum().sort_values(ascending=False)
olympics_athletes.head()

Athlete
Michael Phelps          22
Natalie Coughlin        12
Ryan Lochte             11
Leisel Jones             9
Ole Einar Bj√∏rndalen     9
Name: Total Medals, dtype: int64

In [8]:
x= input('enter sport:')
olympics_athlete= olympics[olympics['Sport']== x]

athlete_medal= olympics_athlete.groupby('Athlete')['Total Medals'].sum().sort_values(ascending=False)
athlete_medal.head()

enter sport:Swimming

Athlete
Michael Phelps      22
Natalie Coughlin    12
Ryan Lochte         11
Ian Thorpe           9
Leisel Jones         9
Name: Total Medals, dtype: int64

In [9]:
olympics_age= olympics.groupby('Age')
olympics_age= olympics_age['Total Medals'].sum().sort_values(ascending=False)
olympics_age.head()

Age
24.0    807
26.0    765
25.0    763
23.0    757
27.0    724
Name: Total Medals, dtype: int64