In [1]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as dr
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

yf.pdr_override()

end = datetime.now()
start = datetime(end.year - 3, end.month, end.day)

In [2]:
tech_list = ['TSLA','AAPL', 'GOOG', 'MSFT', 'AMZN']

In [3]:
for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    

company_list = [TSLA,AAPL, GOOG, MSFT, AMZN]
company_name = ["TESLA","APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)

df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2020-06-29,64.600670,67.333336,63.234669,67.290001,67.290001,135396000,TESLA
2020-06-30,67.099998,72.512665,66.915337,71.987335,71.987335,253777500,TESLA
2020-07-01,72.199997,75.688667,72.033333,74.641998,74.641998,199903500,TESLA
2020-07-02,81.431999,81.866669,79.040001,80.577332,80.577332,258751500,TESLA
2020-07-06,85.112663,91.852669,84.402664,91.438667,91.438667,308548500,TESLA

In [4]:
df['Total']= df['Volume'] * df['Open']
revenue_by_company= df.groupby('company_name')['Total'].sum().sort_values(ascending=False)
print(revenue_by_company)

company_name
TESLA        1.779868e+13
APPLE        9.946774e+12
AMAZON       8.028407e+12
MICROSOFT    5.802541e+12
GOOGLE       2.339045e+12
Name: Total, dtype: float64

In [5]:
market_cap_by_company=df.groupby('company_name')['Volume'].sum() * df.groupby("company_name")['Adj Close'].sum()
market_cap_by_company= market_cap_by_company.sort_values(ascending=False)
print(market_cap_by_company)

company_name
TESLA        1.482115e+16
APPLE        7.655553e+15
AMAZON       6.049762e+15
MICROSOFT    4.342760e+15
GOOGLE       1.805121e+15
dtype: float64

In [7]:
df['total']= (df['Close']- df['Open']) * df['Volume']
df.head()

per_share= df.groupby("company_name")['total'].sum() / df.groupby("company_name")['Volume'].sum()
per_share= per_share.sort_values(ascending=False)
per_share

company_name
TESLA        0.153326
APPLE        0.067146
MICROSOFT    0.038930
GOOGLE       0.021418
AMAZON      -0.125706
dtype: float64

In [12]:
list1= ["TESLA","APPLE","MICROSOFT","AMAZON","GOOGLE"]
for company in list1:
    df_name= f"df_{company}"
    df_new= df[df["company_name"]== company]
    
    globals()[df_name]= df_new
    
    print(df_name)
    print(df_new)
    print(f"change in stock price in company {df_name} is {df_new['Open'].iloc[-1] - df_new['Open'].iloc[0]}" )

df_TESLA
                  Open        High         Low       Close   Adj Close  \
Date
2020-06-29   64.600670   67.333336   63.234669   67.290001   67.290001
2020-06-30   67.099998   72.512665   66.915337   71.987335   71.987335
2020-07-01   72.199997   75.688667   72.033333   74.641998   74.641998
2020-07-02   81.431999   81.866669   79.040001   80.577332   80.577332
2020-07-06   85.112663   91.852669   84.402664   91.438667   91.438667
...                ...         ...         ...         ...         ...
2023-06-21  275.130005  276.989990  257.779999  259.459991  259.459991
2023-06-22  250.770004  265.000000  248.250000  264.609985  264.609985
2023-06-23  259.290009  262.450012  252.800003  256.600006  256.600006
2023-06-26  250.070007  258.369995  240.699997  241.050003  241.050003
2023-06-27  243.240005  247.099701  240.850006  244.125000  244.125000

               Volume company_name         Total         total
Date
2020-06-29  135396000        TESLA  8.746672e+09  3.641247e+08
2020-06-30  253777500        TESLA  1.702847e+10  1.240296e+09
2020-07-01  199903500        TESLA  1.443303e+10  4.881646e+08
2020-07-02  258751500        TESLA  2.107065e+10 -2.211465e+08
2020-07-06  308548500        TESLA  2.626138e+10  1.951879e+09
...               ...          ...           ...           ...
2023-06-21  211797100        TESLA  5.827174e+10 -3.318863e+09
2023-06-22  166875900        TESLA  4.184747e+10  2.309559e+09
2023-06-23  176584100        TESLA  4.578649e+10 -4.750117e+08
2023-06-26  178849700        TESLA  4.472495e+10 -1.613225e+09
2023-06-27   58712442        TESLA  1.428121e+10  5.196019e+07

[754 rows x 9 columns]
change in stock price in company df_TESLA is 178.63933563232422
df_APPLE
                  Open        High         Low       Close   Adj Close  \
Date
2020-06-29   88.312500   90.542503   87.820000   90.445000   88.799057
2020-06-30   90.019997   91.495003   90.000000   91.199997   89.540306
2020-07-01   91.279999   91.839996   90.977501   91.027496   89.370949
2020-07-02   91.962502   92.617500   90.910004   91.027496   89.370949
2020-07-06   92.500000   93.945000   92.467499   93.462502   91.761650
...                ...         ...         ...         ...         ...
2023-06-21  184.899994  185.410004  182.589996  183.960007  183.960007
2023-06-22  183.740005  187.050003  183.669998  187.000000  187.000000
2023-06-23  185.550003  187.559998  185.009995  186.679993  186.679993
2023-06-26  186.830002  188.050003  185.229996  185.270004  185.270004
2023-06-27  185.889999  187.044205  185.669998  186.859894  186.859894

               Volume company_name         Total         total
Date
2020-06-29  130646000        APPLE  1.153767e+10  2.786026e+08
2020-06-30  140223200        APPLE  1.262289e+10  1.654634e+08
2020-07-01  110737200        APPLE  1.010809e+10 -2.796141e+07
2020-07-02  114041600        APPLE  1.048755e+10 -1.066295e+08
2020-07-06  118655600        APPLE  1.097564e+10  1.142062e+08
...               ...          ...           ...           ...
2023-06-21   49515700        APPLE  9.155453e+09 -4.654412e+07
2023-06-22   51245300        APPLE  9.415812e+09  1.670594e+08
2023-06-23   53079300        APPLE  9.848864e+09  5.997906e+07
2023-06-26   47977400        APPLE  8.963618e+09 -7.484463e+07
2023-06-27   12314802        APPLE  2.289199e+09  1.194406e+07

[754 rows x 9 columns]
change in stock price in company df_APPLE is 97.57749938964844
df_MICROSOFT
                  Open        High         Low       Close   Adj Close  \
Date
2020-06-29  195.779999  198.529999  193.550003  198.440002  193.078842
2020-06-30  197.880005  204.399994  197.740005  203.509995  198.011856
2020-07-01  203.139999  206.350006  201.770004  204.699997  199.169724
2020-07-02  205.679993  208.020004  205.000000  206.259995  200.687546
2020-07-06  208.830002  211.130005  208.089996  210.699997  205.007614
...                ...         ...         ...         ...         ...
2023-06-21  336.369995  337.730011  332.070007  333.559998  333.559998
2023-06-22  334.119995  340.119995  333.339996  339.709991  339.709991
2023-06-23  334.359985  337.959991  333.450012  335.019989  335.019989
2023-06-26  333.720001  336.109985  328.489990  328.600006  328.600006
2023-06-27  331.859985  334.114410  330.299988  331.470001  331.470001

              Volume company_name         Total         total
Date
2020-06-29  26701600    MICROSOFT  5.227639e+09  7.102635e+07
2020-06-30  34310300    MICROSOFT  6.789322e+09  1.931666e+08
2020-07-01  32061200    MICROSOFT  6.512912e+09  5.001539e+07
2020-07-02  29315800    MICROSOFT  6.029674e+09  1.700322e+07
2020-07-06  31897600    MICROSOFT  6.661176e+09  5.964836e+07
...              ...          ...           ...           ...
2023-06-21  25117800    MICROSOFT  8.448874e+09 -7.058096e+07
2023-06-22  23556800    MICROSOFT  7.870798e+09  1.316824e+08
2023-06-23  23084700    MICROSOFT  7.718600e+09  1.523599e+07
2023-06-26  21477400    MICROSOFT  7.167438e+09 -1.099642e+08
2023-06-27   5721397    MICROSOFT  1.898703e+09 -2.231254e+06

[754 rows x 9 columns]
change in stock price in company df_MICROSOFT is 136.07998657226562
df_AMAZON
                  Open        High         Low       Close   Adj Close  \
Date
2020-06-29  134.500504  134.839996  131.503998  134.018997  134.018997
2020-06-30  134.253494  138.481506  133.751495  137.940994  137.940994
2020-07-01  137.899506  144.750000  137.699997  143.934998  143.934998
2020-07-02  145.600494  147.778000  143.554993  144.514999  144.514999
2020-07-06  146.748505  152.994003  146.500000  152.852005  152.852005
...                ...         ...         ...         ...         ...
2023-06-21  125.639999  126.730003  123.849998  124.830002  124.830002
2023-06-22  125.309998  130.330002  125.139999  130.149994  130.149994
2023-06-23  129.110001  130.839996  128.279999  129.330002  129.330002
2023-06-26  129.330002  131.490005  127.099998  127.330002  127.330002
2023-06-27  128.630005  128.940002  127.550003  127.971497  127.971497

               Volume company_name         Total         total
Date
2020-06-29   84468000       AMAZON  1.136099e+10 -4.067188e+07
2020-06-30   75394000       AMAZON  1.012191e+10  2.780154e+08
2020-07-01  127268000       AMAZON  1.755019e+10  7.681250e+08
2020-07-02  131868000       AMAZON  1.920005e+10 -1.431421e+08
2020-07-06  137612000       AMAZON  2.019436e+10  8.399149e+08
...               ...          ...           ...           ...
2023-06-21   52137700       AMAZON  6.550581e+09 -4.223141e+07
2023-06-22   90354600       AMAZON  1.132233e+10  4.373159e+08
2023-06-23   71855200       AMAZON  9.277225e+09  1.580823e+07
2023-06-26   59878500       AMAZON  7.744087e+09 -1.197570e+08
2023-06-27   13387638       AMAZON  1.722052e+09 -8.815871e+06

[754 rows x 9 columns]
change in stock price in company df_AMAZON is -5.8704986572265625
df_GOOGLE
                  Open        High         Low       Close   Adj Close  \
Date
2020-06-29   67.908997   69.779999   67.350502   69.748497   69.748497
2020-06-30   69.522003   70.932503   69.197998   70.680496   70.680496
2020-07-01   70.555000   72.150002   70.490997   71.902000   71.902000
2020-07-02   72.347000   74.147499   72.320999   73.235001   73.235001
2020-07-06   74.002998   75.329498   73.642998   74.785004   74.785004
...                ...         ...         ...         ...         ...
2023-06-21  123.235001  123.410004  120.860001  121.260002  121.260002
2023-06-22  120.660004  123.934998  119.599998  123.870003  123.870003
2023-06-23  122.040001  123.440002  121.860001  123.019997  123.019997
2023-06-26  121.466003  122.720001  118.989998  119.089996  119.089996
2023-06-27  117.839996  118.279999  116.910004  118.165001  118.165001

              Volume company_name         Total         total
Date
2020-06-29  36204000       GOOGLE  2.458577e+09  6.659727e+07
2020-06-30  40848000       GOOGLE  2.839835e+09  4.732212e+07
2020-07-01  35504000       GOOGLE  2.504985e+09  4.782389e+07
2020-07-02  37182000       GOOGLE  2.690006e+09  3.301763e+07
2020-07-06  31280000       GOOGLE  2.314814e+09  2.446113e+07
...              ...          ...           ...           ...
2023-06-21  22612000       GOOGLE  2.786590e+09 -4.465867e+07
2023-06-22  20781900       GOOGLE  2.507544e+09  6.670988e+07
2023-06-23  29542900       GOOGLE  3.605416e+09  2.895192e+07
2023-06-26  23135600       GOOGLE  2.810189e+09 -5.497035e+07
2023-06-27   7279358       GOOGLE  8.577995e+08  2.365825e+06

[754 rows x 9 columns]
change in stock price in company df_GOOGLE is 49.930999755859375